Подтвердите регистрацию на TimeOff.Management
=====
<p>Здравствуйте {{name}},</p>

<p>Чтобы завершить процесс регистрации в TimeOff.Management пожалуйста, перейдите по следующей ссылке:</p>

<p>{{confirm_registration_link}}</p>

<p>Спасибо</p>
