Сброс пароля для TimeOff.Management
=====
{{# with user ~}}
<p>Здравствуйте <strong>{{this.name}}</strong>,</p>

<p>Кто-то только что запросил ссылку для сброса пароля для вашей учетной записи на {{> email/link href=(get_application_domain) text='TimeOff.Management' }}</p>

{{# if company.ldap_auth_enabled }}
<p>Компания, которой принадлежит ваша учетная запись, использует аутентификацию LDAP, поэтому мы не можем сбросить для вас пароль.</p>

<p>Пожалуйста, обратитесь к своему системному администратору, чтобы сбросить пароль на сервере Active directory.</p>

{{ else }}
<p>
  Пожалуйста, перейдите по ссылке ниже, чтобы продолжить:

  {{> email/link href=(concatenate (get_application_domain) '/reset-password/?t=' (this.get_reset_password_token)) text='Request reset password' }}
</p>

<p>
  В качестве альтернативы скопируйте и вставьте следующую ссылку в свой браузер: <pre>{{ concatenate (get_application_domain) '/reset-password/?t=' (this.get_reset_password_token) }}</pre>
</p>
{{/if}}

{{~/ with}}

<p>Спасибо</p>
