Решение по запросу на отпуск принято
=====
<p>Здравствуйте <strong>{{#with approver }}{{this.full_name}}{{/with}}</strong>,<p>

{{> email/leave_comments comments=comments }}

<p>Вы только что обработали запрос {{#if was_pended_revoke}}на отмену {{/if}}запроса на отпуск {{>leave_request_detail leave=leave }} для {{#with requester}}{{this.full_name}}{{/with}}: {{action}}.</p>

<p>Спасибо</p>
