Запрос на отпуск был отменен
=====
<p>Здравствуйте <strong>{{#with requester}}{{this.full_name}}{{/with}}</strong>,</p>

<p>Ваш запрос на отпуск <strong>{{>leave_request_detail leave=leave }}</strong> был <strong>отменен</strong>.</p>

{{> email/leave_comments comments=comments }}

<p>Спасибо</p>
