Был добавлен новый отпуск и автоматически утвержден.
=====
<p>Здравствуйте <strong>{{#with approver }}{{this.full_name}}{{/with}}</strong>,</p>

<p><strong>{{#with requester}}{{this.full_name}}{{/with}}</strong> добавил новый отпуск <strong>{{>leave_request_detail leave=leave }}</strong>.</p>

{{> email/leave_comments comments=comments }}

<p>Нет необходимости утверждать/отклонять листки из {{#with requester}}{{this.full_name}}{{/with}}.</p>

<p>Спасибо</p>
