Запрос на отпуск ожидает решения
=====
<p>Здравствуйте <strong>{{#with requester}}{{this.full_name}}{{/with}},</strong></p>

<p>Ваш запрос на отпуск <strong>{{>leave_request_detail leave=leave }} был отправлен</strong> к {{#with approver }}{{this.full_name}}{{/with}}.</p>

{{> email/leave_comments comments=comments }}

<p>После принятия решения будет отправлено еще одно электронное письмо.</p>

<p>Спасибо</p>
