Запрос на отпуск был {{#if_equal action 'approve'}}принят{{else}}отклонен{{/if_equal}}
=====
<p>Здравствуйте <strong>{{#with requester}}{{this.full_name}}{{/with}}</strong>,</p>

{{> email/leave_comments comments=comments }}

<p>{{#with approver }}{{this.full_name}}{{/with}} решил <strong>{{action}}</strong> ваш {{#if was_pended_revoke}}отмена {{/if}}запрос на отпуск <strong>{{>leave_request_detail leave=leave }}</strong>.</p>

<p>Спасибо</p>
