Отпуск был отозван и автоматически одобрен
=====
<p>Здравствуйте {{#with approver }}{{this.full_name}}{{/with}},</p>

<p><strong>{{#with requester}}{{this.full_name}}{{/with}} отменил</strong> запрос на отпуск <strong>{{>leave_request_detail leave=leave }}</strong>.</p>

{{> email/leave_comments comments=comments }}

<p>Нет необходимости выполнять какие-либо действия в отношении этого отпуска.</p>

<p>Спасибо</p>
