Регистрация завершена
=====
<p>Здравствуйте <strong>{{user.name}}</strong>,</p>

<p>Благодарим вас за регистрацию новой учетной записи на {{> email/link href=(get_application_domain) text="TimeOff.Management" }}</p>

<p>Спасибо</p>
