Сброс пароля для TimeOff.Management
=====
{{# with user ~}}
<p>Здравствуйте <strong>{{this.name}}</strong>,</p>

<p>Ваш пароль для {{> email/link href=(get_application_domain) text='TimeOff.Management' }} был успешно изменен.</p>

{{~/ with }}

<p>Спасибо</p>
