
{{> header }}

<div class="jumbotron">
<h1>TimeOff management</h1>
<p class="lead">Open source Staff Time off management для компаний любого размера.</p>
<p><a class="btn btn-lg btn-success" href="/register/" role="button">Зарегистрируйтесь прямо сейчас</a></p>
<p>или сделайте вилку от нашего проекта <a href="https://github.com/vpp/vacation-tracker">GitHub</a></p>
</div>

<div class="row marketing">


<div class="col-lg-6">
  <h4>Отделы компании</h4>
  <p>Создавайте отделы для группировки сотрудников, у каждого из которых есть свой менеджер.</p>

  <h4>Индивидуальные Типы Отпусков</h4>
  <p>Праздники, Болезни, Материнство, Отцовство, Работа на дому и т.д. Кроме того, настройте, использует ли тип отпускное пособие или нет.</p>

  <h4>Интеграция с календарем</h4>
  <p>Отображение отпусков сотрудников в календарях: Outlook, Gmail. (Работа в процессе)</p>
</div>

<div class="col-lg-6">
  <h4>Индивидуальные государственные праздники</h4>
  <p>Настройка государственных праздников, а также конкретных дат компании.</p>

  <h4>Простой рабочий процесс</h4>
  <p>Сотрудник просит об отпуске, менеджер говорит "да" или "нет".</p>

  <h4></h4>
  <p></p>
</div>
</div>

{{> footer }}
