
{{> header }}

<h1>API интеграция (beta)</h1>

<p class="lead">Настройка доступа к данным учетной записи через API интеграцию</p>

{{> show_flash_messages }}

<div class="row main-row_header">
  <p class="col-md-12">Описание</p>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-1">
    <p>TimeOff.Management поддерживает совместное использование <strong>{{ company.name }}</strong> данных с другим программным обеспечением через REST API.</p>
    <p>Эта страница позволяет вам {{# if company.integration_api_enabled }}отключить{{else}}включить{{/if}} доступ.</p>
  </div>
</div>

<div class="row main-row_header">
  <p class="col-md-12">Конфигурация</p>
</div>

<div class="row">
  <div class="col-md-12">
    <form class="form-horizontal" action="" method="post">
      <div class="form-group">
        <div class="col-md-9 col-md-offset-3">
        <label for="integration_api_enabled" class="control-label">
          <input
            id="integration_api_enabled"
            type="checkbox"
            {{# if company.integration_api_enabled }} checked="checked" {{/if}}
            name="integration_api_enabled"
           />&nbsp;
           Включить API интеграцию
          </label>
        </div>
      </div>
      <hr/>
      <div class="form-group">
        <label for="token" class="col-md-3 control-label">API ключ доступа</label>
        <div class="col-md-5">
          <input class="form-control" readonly value="{{company.integration_api_token}}" aria-describedby="token_help" type="text" id="token-value">
        </div>
        <span id="token_help" class="help-block">Token который позволяет получить доступ к {{company.name}} данным. <span class="danger">Держите его в секрете.</span></span>
      </div>
      <div class="form-group">
        <div class="col-md-offset-3 col-md-5">
          <div class="pull-right">
            <button type="submit" class="btn btn-default single-click" id="regenerate_token_btn" name="regenerate_token" value=1>Пересоздать token</button>
            <button type="submit" class="btn btn-success single-click" id="save_settings_btn">Сохранить конфигурацию API интеграции</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

{{> footer }}
