
<p>
  В этом году {{#with requester}}{{this.full_name}}{{/with}} взял
  {{~#with requesterAllowance}} {{this.number_of_days_taken_from_allowance}} {{/with~}}
   дней из отпускного пособия. Еще {{#with requesterAllowance}} {{this.number_of_days_available_in_allowance}} дней все еще доступны. {{/with}}
</p>
